body {
    margin: 0;
}

#page1 {
    display: grid;
    grid-template-columns: repeat(17, 1fr); /* 17 is the number of letters of a single phrase in page 1 */ 
    padding: 10%;
}

.page1_name_char_p {
    --height: 30px;

    width: 20px;
    height: var(--height);
    line-height: var(--height); /* must be the same as height */
    text-align: center;
    vertical-align: middle;
    display: table-cell;   
}

[data-idx] {
 	transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#page2,
#page3 {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
}

.experiences_node_container,
.projects_node_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50vw;
    height: 100px;
}

.experiences_node_prev_arr, 
.experiences_node_next_arr,
.projects_node_prev_arr, 
.projects_node_next_arr {
    margin: 0px 20px;
    cursor: pointer;
}

.programming_languages_node {
    user-select: none;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 100%;
    cursor: grab;
 	transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); /* TODO, change easing to elastic */
}

#page4 {
    padding-bottom: 100vh;
}

.dragged {
    cursor: grabbing;
 	transition: 0s;
    transform: scale(0.5);
}

.programming_languages_node > img {
    height: 50px;
    pointer-events: none;
}

.programming_language_edge {
    position: absolute;
    height: 1px;
    width: 5px;
    background-color: black;
    transform-origin: top left;
    border-radius: 10px;
 	transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); /* TODO, change easing to elastic */
}

#page5 {
    display: grid;
    justify-content: center;
    align-items: center;
    /* TODO, make 5 depends on the number of cols set in the js, 50 is the width of the grid cells*/
    grid-template-columns: repeat(10, 50px); 
    grid-gap: 20px;
    padding: 10%;
}

#page5.animation_in_progress > .grid_cell {
	cursor: default;
    pointer-events: none;
}

#page5 > .grid_cell {
	cursor:pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: chocolate;
}

#page5 > .obstacle_cell {
    background-color: brown;
}

#page5 > .goal_cell {
	font-size: 3em;
	-webkit-backface-visibility: hidden; /* Safari Fix */
	backface-visibility: hidden;         /* Safari Fix */
}

#page5 > .grid_cell_explored {
    background-color: green;
}

#page5 > .free_cell.grid_cell_on_path {
    background-color: blue;
}

#page5 > .goal_cell.grid_cell_on_path {
    transform: scale3d(1.2, 1.2, 1.2);
}